<body>
  <main class="content" aria-label="Content">
    <header class="content SiteHeader">
      <div class="SiteHeader__image">
        <img class="round m-t-1" src="assets/images/keaton-img.png" alt="Keaton Taylor - Beard Farmer">
      </div>
      <nav>
        <ul class="SiteHeader__nav">
          <li class="SiteHeader__nav-item"><a href="/">HOME</a></li>
          <li class="SiteHeader__nav-item"><a href="/work">WORK</a></li>
          <li class="SiteHeader__nav-item"><a href="https://medium.com/@keaton_taylor">WRITING</a></li>
          <li class="SiteHeader__nav-item"><a href="/resume">SEEVEE</a></li>
        </ul>
      </div>
    </header>
