<header class="SiteHeader" role="banner">
  <nav class="SiteHeader__nav">
    <a class="SiteHeader__nav-link" href="/">Keaton Taylor</a>
    <a class="SiteHeader__nav-link" href="https://github.com/keaton-taylor"><img class="SiteHeader__nav-img" src="assets/icons/github.svg"></a>
    <a class="SiteHeader__nav-link" href="https://twitter.com/keaton_taylor"><img class="SiteHeader__nav-img" src="assets/icons/twitter.svg"></a>
    <a class="SiteHeader__nav-link" href="https://www.linkedin.com/in/keatontaylor"><img class="SiteHeader__nav-img" src="assets/icons/linkedin.svg"></a>
  </nav>
</header>
