<header class="SiteHeader" role="banner">
  <h1 class="SiteHeader__name" href="/">Keaton Taylor</h1>
  <nav>
    <ul class="SiteHeader__nav">
      <li class="SiteHeader__nav-link"><a href="https://dribbble.com/keaton_taylor"><img class="SiteHeader__nav-img" src="/assets/icons/dribbble.svg"></a></li>
      <li class="SiteHeader__nav-link"><a href="https://github.com/keaton-taylor"><img class="SiteHeader__nav-img" src="/assets/icons/github.svg"></a></li>
      <li class="SiteHeader__nav-link"><a href="https://twitter.com/keaton_taylor"><img class="SiteHeader__nav-img" src="/assets/icons/twitter.svg"></a></li>
      <li class="SiteHeader__nav-link"><a href="https://www.linkedin.com/in/keatontaylor"><img class="SiteHeader__nav-img" src="/assets/icons/linkedin.svg"></a></li>
    </ul>
  </nav>
</header>
