
  <section class="container__small PageNavigation">
    {% unless page.category == null %}
      {% capture case_study %}{{ page.category }}{% endcapture %}
      {% unless site.categories[pageCategory].size == 1 %}
        <div class="RelatedPosts__wrap">
        <h3>More of My Work</h3>
          {% for post in site.categories[case_study] limit:4 %}
            {% unless post.title == page.title %}
             <h3><a onClick="gtag('event', 'Click', { event_category: 'InternalRecirc', event_action: 'RelatedArticle' });" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            {% endunless %}
          {% endfor %}
        </div>
      {% endunless %}
    {% endunless %}
  </section>
