<header class="container__large mt-1">
  <div class="SiteHeader mb-0">

    <div>
      <a class="SiteHeader__wrapper" onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Home']);" href="/">
        <div class="SiteHeader__icon">
          {% include icon--kt.svg %}
        </div>
        <div class="SiteHeader__name">
          <h2 class="m-0">Keaton Taylor</h2>
          <p class="small i m-0">Designer/Dadcore</p>
        </div>
      </a>
    </div>

    <ul class="SiteHeader__nav no-bull mb-0 mt-0">
      <li class="SiteHeader__nav-item icon github">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Github']);" href="https://www.github.com/keaton-taylor" target="_blank">
          {% include icon--github.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon dribbble">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Dribbble']);" href="https://www.dribbble.com/keaton_taylor" target="_blank">
          {% include icon--dribbble.svg %}
        </a>
      </li>
      <li class="SiteHeader__nav-item icon twitter">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Twitter']);" href="https://www.twitter.com/keaton_taylor" target="_blank">
          {% include icon--twitter.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon medium">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Medium']);" href="https://medium.com/@keaton_taylor" target="_blank">
          {% include icon--medium.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon linkedin">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Linkedin']);" href="https://www.linkedin.com/in/keatontaylor/" target="_blank">
          {% include icon--linkedin.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon resume">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'Resume']);" href="/assets/images/kt-resume-17.pdf" target="_blank">
          {% include icon--resume.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon img">
        <a onClick="_gaq.push(['_trackEvent', 'SiteHeader', 'Click', 'About']);" href="/about.html">
          <img src="/assets/images/keaton__round.png" alt="Keaton's so handsome">
        </a>
      </li>
    </ul>
  </div>
</header>
