<header class="container">
  <div class="SiteHeader mb-0">
    <div class="SiteHeader__name">
      <h2 class="m-0"><a href="/">Keaton Taylor</a></h2>
      <p class="small i m-0">Designer/Dadcore</p>
    </div>
    <ul class="SiteHeader__nav no-bull">
      <li class="SiteHeader__nav-item icon github">
        <a href="https://www.github.com/keaton-taylor">
          {% include icon--github.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon dribbble">
        <a href="https://www.dribbble.com/keaton_taylor">
          {% include icon--dribbble.svg %}
        </a>
      </li>
      <li class="SiteHeader__nav-item icon twitter">
        <a href="https://www.twitter.com/keaton_taylor">
          {% include icon--twitter.svg %}
        </a>
      </li>

      <li class="SiteHeader__nav-item icon img">
        <a href="https://www.linkedin.com/in/keatontaylor/" title="Got You">
          <img src="/assets/images/keaton__round.png" alt="Keaton's so handsome">
        </a>
      </li>
    </ul>
  </div>
</header>
