
<div class="container__small">
  <header class="SiteHeaderHome">
    <div class="SiteHeaderHome__wrap">

      <div class="SiteHeaderHome__name">
        <h1 class="m-0">Keaton Taylor</h1>
        <p class="small">DESIGNER/DADCORE</p>
      </div>

      <div class="SiteHeaderHome__nav">
        <ul class="SiteHeaderHome__nav-items no-bull p-0">
          <li class="SiteHeaderHome__nav-item icon github">
            <a href="https://www.github.com/keaton-taylor" target="_blank" rel="noopener">
              {% include icon--github.svg %}
            </a>
          </li>

          <li class="SiteHeaderHome__nav-item icon dribbble">
            <a href="https://www.dribbble.com/keaton_taylor" target="_blank" rel="noopener">
              {% include icon--dribbble.svg %}
            </a>
          </li>
          <li class="SiteHeaderHome__nav-item icon twitter">
            <a href="https://www.twitter.com/keaton_taylor" target="_blank" rel="noopener">
              {% include icon--twitter.svg %}
            </a>
          </li>

          <li class="SiteHeaderHome__nav-item icon medium">
            <a href="https://medium.com/@keaton_taylor" target="_blank" rel="noopener">
              {% include icon--medium.svg %}
            </a>
          </li>

          <li class="SiteHeaderHome__nav-item icon linkedin">
            <a href="https://www.linkedin.com/in/keatontaylor/" target="_blank" rel="noopener">
              {% include icon--linkedin.svg %}
            </a>
          </li>

          <li class="SiteHeaderHome__nav-item icon resume">
            <a href="/assets/images/kt_resume_2018.pdf" target="_blank" rel="noopener">
              {% include icon--resume.svg %}
            </a>
          </li>

          <li class="SiteHeaderHome__nav-item icon img">
            <a href="/about.html">
              <img src="https://ktportfolio-cdn.sirv.com/Images/keaton-image.png?png.optimize=true" alt="Keaton's got a beard" />
            </a>
          </li>
        </ul>
      </div>

      <div class="SiteHeaderHome__summary fade-in">
        <h2>I'm a User Experience and Product Designer working on reader-facing and editorial tools at Apartment Therapy Media.</h2>
      </div>
    </div>
  </header>
</div>
