
<div class="container__xlarge">
  <header class="SiteHeaderHome fade-in">
    <div class="SiteHeaderHome__summary">
      <h1>👋 Hi, I’m Keaton Taylor. I'm a Product Designer.</h1>
      <p>I've spent the last decade working with diverse teams at startups and small-to-mid-size companies. Singularly focused on building products and features across several different business verticals for fun and profit. I live and work with my wife and four children in Eastern Kentucky.</p>
    </div>

    <div class="SiteHeaderHome__nav">
      <ul class="SiteHeaderHome__nav-items no-bull p-0">
        <li class="SiteHeaderHome__nav-item icon github">
          <a href="https://www.github.com/keaton-taylor" target="_blank" rel="noopener">
            {% include icon--github.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon dribbble">
          <a href="https://www.dribbble.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--dribbble.svg %}
          </a>
        </li>
        <li class="SiteHeaderHome__nav-item icon twitter">
          <a href="https://www.twitter.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--twitter.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon medium">
          <a href="https://medium.com/@keaton_taylor" target="_blank" rel="noopener">
            {% include icon--medium.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon linkedin">
          <a href="https://www.linkedin.com/in/keatontaylor/" target="_blank" rel="noopener">
            {% include icon--linkedin.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon resume">
          <a href="/seevee.html" target="_blank">
            {% include icon--resume.svg %}
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class="SiteHeaderHome__down">
    {% include icon--down.svg %}
  </div>
</div>
