
<div class="container__large">
  <header class="SiteHeaderHome fade-in">

    <div class="SiteHeaderHome__summary">
      <h1>Hi, I’m Keaton. I'm currently a User Experience & Product Designer at <a href="https://www.apartmenttherapy.com/">Apartment Therapy Media.</a></h1>
      <p>Previously I led the design team at <a href="https://www.mealthy.com/">Mealthy Recipes</a> and before that worked to make event-based fundraising more social at RaiseMore. I love working on products and platforms that try to make peoples’ lives a little easier every day. </p>
    </div>

    <div class="SiteHeaderHome__nav">
      <ul class="SiteHeaderHome__nav-items no-bull p-0">
        <li class="SiteHeaderHome__nav-item icon github">
          <a href="https://www.github.com/keaton-taylor" target="_blank" rel="noopener">
            {% include icon--github.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon dribbble">
          <a href="https://www.dribbble.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--dribbble.svg %}
          </a>
        </li>
        <li class="SiteHeaderHome__nav-item icon twitter">
          <a href="https://www.twitter.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--twitter.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon medium">
          <a href="https://medium.com/@keaton_taylor" target="_blank" rel="noopener">
            {% include icon--medium.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon linkedin">
          <a href="https://www.linkedin.com/in/keatontaylor/" target="_blank" rel="noopener">
            {% include icon--linkedin.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon resume">
          <a href="/seevee.html" target="_blank">
            {% include icon--resume.svg %}
          </a>
        </li>

        <li class="SiteHeaderHome__nav-item icon img">
          <a href="/about.html">
            <img src="https://ktportfolio-cdn.sirv.com/img/keaton-image.png" alt="Keaton's got a beard" />
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>
