<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@keaton_taylor">
<meta name="twitter:creator" content="@keaton_taylor">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="http://www.fillmurray.com/600/314">
{% endif %}
