{% include head.html %}
  {% include SiteHeader.html %}
    <div class="container__small">
      <section class="AboutPage mt-1">
        <img class="AboutPage__image" src="/assets/images/keaton.jpg" alt="image of keaton by Brandon Mirkin"/>
        <div class="AboutPage__bio">
          <p>Hi, like I said, my name is Keaton Taylor. I'm a designer focusing on building digital products. I'm also a husband and a dad. In reality is's like Husband, Dad and then like 30 other things and then I'm a designer. I like fishing, craft beer and the Houston Rockets. I don't do horror movies, tequila or roller coasters.</p>
          <p>I'm gonna add some more stuff here later.</p>
        </div>
      </section>
    </div>
  {% include footer.html %}
