{% include head.html %}
  {% include SiteHeader.html %}
    <section class="AboutPage">

      <div class="AboutPage__summary">
        <h3>Late bloomer. Human Jungle Gym. Trying hard to be a good Husband and Dad. I Design stuff sometimes too. I like fishing, craft beer, and the Houston Rockets.</h3>
      </div>

      <div class="AboutPage__square-1"></div>

      <img class="AboutPage__family" src="https://ktportfolio-cdn.sirv.com/Images/family.png" alt="These things are most important"/>
      <p class="AboutPage__summary-two">I started out making terrible posters for worse bands. In 2011 I got a job working at a local web design studio and fell in love with the work.</p>

      <img class="AboutPage__parents show--medium" src="https://ktportfolio-cdn.sirv.com/Images/ren+me.png" alt="These things are most important"/>

      <div class="AboutPage__square-2"></div>

      <p class="AboutPage__summary-three">I bounced around for a few years and ended up working remotely for a web company on projects for Intel and Athlon Media Group. Those gave me a taste for iterative product design. I threw myself into learning as much as possible about Product and UX over the next few years moonlighting at startups, taking a full time position on a product team and helping people launch things they love.</p>

      <img class="AboutPage__summary-img show--large" src="https://ktportfolio-cdn.sirv.com/Images/lots-of-stuff-big.png?profile=portfolio" alt="I do a lot of things - a collage of things I do"/>
      <img class="AboutPage__summary-img show--small" src="https://ktportfolio-cdn.sirv.com/Images/lots-of-stuff.png?profile=portfolio" alt="I do a lot of things - a collage of things I do"/>

      <div class="AboutPage__summary-cv">
        <h4>Some Places I've Worked</h4>
          <ul>
            <li>
              <h5>Apartment Therapy Media</h5>
              <small>2016 - Present</small>
            </li>
            <li>
              <h5>Mealthy Recipes</h5>
              <small>2017</small>
            </li>
            <li>
              <h5>RaiseMore</h5>
              <small>2015 - 2016</small>
            </li>
            <li>
              <h5>Blue Fish Design Studio</h5>
              <small>2013 - 2016</small>
            </li>
            <li>
              {% include icon--resume.svg %}
              <a href="/assets/images/kt_resume_2018.pdf" target="_blank" rel="noopener">
                <small>There's More Before that too</small>
              </a>
            </li>
          </ul>
        </div>

        <h3 class="AboutPage__values-title">Core Values</h3>

        <div class="AboutPage__values">
          <div>
            <div class="AboutPage__values-item">
              <p>People First</p>
              <p class="m-0">Nothing survives if people aren't at the forefront of what you're making. Solving real problems for real people creates a firm foundation.</p>
            </div>

            <div class="AboutPage__values-item">
              <p>Data Informed</p>
              <p class="m-0">Qualitative data fleshes out the narrative that quantitative data sets. Don't guess. Talk to people, then watch what they do.</p>
            </div>

            <div class="AboutPage__values-item">
              <p>Do the Work</p>
              <p class="m-0">Be good to people, do the work and good things will come. Recognition is more fun as a team. Don't shy away from the hard problems</p>
            </div>
          </div>

          <div>
            <div class="AboutPage__values-item">
              <p>No Heroes</p>
              <p class="m-0">No Heroes, No martyrs, No person left behind. Everyone in the organization is fighting for the same thing, so let's fight together.</p>
            </div>

            <div class="AboutPage__values-item">
              <p>Tiny Wins</p>
              <p class="m-0">Sometimes 10x isn't realistic. Let's strive for iteration and tiny wins until we hit the jackpot.</p>
            </div>

            <div class="AboutPage__values-item">
              <p>Eat Last</p>
              <p class="m-0">Leaders aren't defined by titles. Take responsibility for those around you and lead by example.</p>
            </div>
          </div>
        </div>

      <div class="AboutPage__square-3"></div>

      <div class="AboutPage__square-4"></div>

    </section>

  {% include footer.html %}
