{% include head.html %}

  <body>
    {% include header.html %}
      {% assign posts = site.posts | where:"type", "blog" %}
        <main class="PageContent" aria-label="Content">
          <div class="PostWell">
            {% for post in site.categories.blog %}
              <article class="PostTeaser">
                <h1 class="PostTeaser__title">
                  <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                </h1>
                {{ post.excerpt }}
              </article>
            {% endfor %}
          </div>
        </main>
    {% include footer.html %}
