{% include head.html %}
  {% include SiteHeader.html %}
    <div class="container__small">
      <section class="AboutPage mt-2">
        <section class="AboutPage__summary">
          <figure class="container__imagemb-0 p-0 no-shadow">
            <img class="AboutPage__summary-image" src="/assets/images/keaton.jpg" alt="image of keaton by Brandon Mirkin"/>
            <figcaption class="mt-half center mb-0">
              <small>Oooooh, he so handsome.<br>(Courtesy of Brandon Mirkin Photography)</small>
            </figcaption>
          </figure>

          <div class="AboutPage__summary-bio">
            <p class="mt-0">Hi, like I said, my name is Keaton Taylor. I'm a designer focusing on building digital products. I'm also a husband and a dad. In reality, it's like Husband, Dad and then like 30 other things and then I'm a designer. I like fishing, craft beer, and the Houston Rockets. I don't do horror movies, tequila or roller coasters.</p>

            <p>I got really excited about design through making posters and stuff for <a href="https://myspace.com/killthatkidmusic/music/songs">my cousin's hardcore band</a>.  I ended up going to the local university for graphic design and printmaking. While I was in college <a href="http://mattspiel.com/">a good friend of mine</a>  gave me an opportunity to come work with him at the small web design company he had been designing for a while. We designed a bunch of websites for a bunch of different things and poof, I was in love with web design.</p>

            <p>After bouncing around and doing contract work for 5 years I landed at Apartment Therapy Media to focus on building digital products full time. I take on contract product work from time to time and really enjoy talking to people in general. If you have any questions or comments, hit me up on twitter or through <a href="mailto:keatontaylor@me.com?Subject=Hello%20Friend">email</a>.
          </div>
        </section>
      </section>
    </div>
  {% include footer.html %}
