{% include head.html %}
  {% include header.html %}
    <body>
      <main class="content" aria-label="Content">
        <section class="PersonalComponent">
          <div class="PersonalComponent__wrap">
            <h1 class="PersonalComponent__headline">Hi, I'm Keaton</h1>
            <div class="PersonalComponent__info">
              <p>I’m a designer building editorial products with <a href="www.apartmenttherapy.com">Apartment Therapy</a>. To see what I'm working on and thinking about, head over to <a href="www.dribbble.com/keaton_taylor">Dribbble</a> or <a href="https://medium.com/@keaton_taylor">Medium</a>. If you’re interested in my previously’s you can find all that on <a href="https://www.linkedin.com/in/keatontaylor/">LinkedIn</a>. Need help designing & building websites or apps? <a href="mailto:keatontaylor@me.com">Let’s Talk</a>.
              </p>
            </div>
          </div>
        </section>
      </main>
