  {% include head.html %}
    {% include header.html %}
      <section class="PostPage container__xsmall">
        <h2 class="ContentHeadline mt-1 mb-1">{{ page.title }}</h2>
        <section class="ContentArea">
          <section class="ContentArea__main">
            {{ page.content }}
          </section>
          <hr>
          {% if page.series == "Little Thoughts" %}
          <div>
            <small><em>Little Thoughts<em> is a series of half formed thoughts and musings that probably are only half corret or 3/4 true. Take them with a salt lick.</small>
            <br>
            <br>
            <small>Keaton Taylor is a designer and front-end developer moving through the world asking lots of questions and being wrong about no less than 50% of his ideas at any given time. He is an IC at Apartment Therapy Media and all his thoughts and ideas are his own.</small>
          </div>
          {% else if %}
            <small>Keaton Taylor is a designer and front-end developer moving through the world asking lots of questions and being wrong about no less than 50% of his ideas at any given time. He is an IC at Apartment Therapy Media and all his thoughts and ideas are his own.</small>
          {% endif %}
        </section>

        <section class="container mt-2 p-0">
          {% if page.comments %}
            <div id="disqus_thread"></div>
            <script>

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://keaton-taylor-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% endif %}
        </section>
      </section>

      {% include footer.html %}
