  {% include head.html %}
    {% include header.html %}

      <section class="RaiseMore">
        <h2 class="center mb-half" style="text-align: center;">Case  Studies: RaiseMore</h2>

        <section class="content--large ContentComponent">
          <button class="ShowMenu center">Case Studies</button>
          <ul class="ContentComponent__teaser-list menu p-0" style="justify-content: space-between; align-items: center;">
            {% for post in site.categories.rm_secondary %}
              <li class="WorkTeaser" style="border: none; box-shadow: none;">
                <a href="{{ post.url }}">
                  <h3 class="p-0 mt-0 mb-half">{{ post.title }}</h3>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>

        <div class="RaiseMore__image content">
          <img class="mb-2" src="https://d2mxuefqeaa7sj.cloudfront.net/s_E6C2E1981A9640327110390FCA8823B3EFD888DDBE1E984574D91BEEACCC87E1_1506112086095_rm-cover-img.png" alt="RaiseMore Logo on OKC skyline" />
        </div>

        <div class="content">
          {{ page.content }}
        </div>

      </section>
      {% include footer.html %}
    </main>
  </body>
</html>
