  {% include head.html %}

    {% include SiteHeader.html %}

      <section class="SeeVee">
        <section class="SeeVee__profile mb-1">
          <h3>Profile</h3>
          <p>I am a technically capable UX/Product Designer with a passion for building human-centered products. I value data and iterative processes that support business goals while upholding high visual and experiential standards. I really like my family and the Houston Rockets. I just bought my first ever pair of white tennis shoes.</p>
        </section>

        <section class="SeeVee__accomplishments">
          <h3>Accomplishments</h3>
          <ul>
            <li>Led a Product Team at an early-stage startup. Took the org from an idea to a top-tier web and mobile recipe product with a large social following and succesful kitchen gadget business via Amazon.</li>
            <li>Launched platform-defining features for two top 50 (ComScore) home/lifestyle editorial products. Including personalized content tests, award-winning branded utilities and internal tools for writers and editors.</li>
            <li>Ran successful Design Sprints and user studies (in-person and remote) to inform product and feature lifecycles spanning user-facing products, admin-facing dashboards and internal editorial tools.</li>
          </ul>
        </section>

        <section class="SeeVee__honors">
          <h3>Cool Things</h3>
          <ul>
            <li>
              <h4>IAB MIXX Gold Medal 2016</h4>
              <h5>Branded Utility</h5>
              <p>Our team at Apartment Therapy along with the teams at McKinney and Sherwin-Williams won an award for our work on Sherwin-Williams Color Search.</p>
            </li>
            <li>
              <h4>Guest Lecturer and Mentor</h4>
              <h5>Missouri Southern State University - Joplin, Missouri</h5>
              <p>I’ve been a guest lecturer and portolio reviewer on an ongoing basis. Speaking with Students about how design can be applied to any career as well as Design career options, trajectory and talking about their work.</p>
            </li>
          </ul>
        </section>

        <section class="SeeVee__experience">
          <h3>Experience</h3>

          <div class="SeeVee__experience-position">
            <h4>Product Designer</h4>
            <p><a href="https://www.apartmenttherapy.com">Apartment Therapy Media</a> | Feb 2016 - Present</p>
            <p class="mb-half">Contribute design and production code to internal and reader-facing products. Supported product strategy, user experience, and interaction design. Seeing features from wireframes to front-end development. Owning the team CSS workflow. Working iteratively with cross-functional teams. In 2018 worked on a marketplace platform acquisition creating wireframes and design iterations to prep for eCommerce pivot. Working with web and mobile engineers to iterate on existing web, iOS and Android platforms to adopt modern UI patterns.</p>
            <p>Sketch / Photoshop / Illustrator / HTML / CSS / React.js / Ruby on Rails</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Lead Product Designer</h4>
            <p><a href="https://www.mealthy.com">Mealthy Recipes</a> | Feb 2017 - Sep 2017</p>
            <p class="mb-half">Recruited and led the early product team. Helped hire CTO and full-time UX Designers and engineers. Led design chapter, coaching team members and defining processes and guidelines. Contributed UX, design and front-end implementation on top-level features like saving recipes, user profiles, and recipe details for web and mobile products. Implemented design workflow using Sketch, Invision, and Abstract.</p>
            <p>Sketch / Photoshop / HTML / CSS / React.js / Elixir</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Product/UX Designer</h4>
            <p><a href="https://newsok.com/article/3904073/local-startup-raisemore-courts-investors-while-staying-committed-to-okc">RaiseMore</a> | Jul 2015 — Mar 2016</p>
            <p>Contributed to team efforts in UX, visual design and product strategy. Led design sprints and helped facilitate user testing and group usability discussions. Designed a self-serve marketplace for js-generated native apps using the Ionic framework. Heavily contributed UX and visual design to features like admin dashboards, in-app coaching, and complex shopping-adjacent workflows in our marketplace.</p>
            <p>Photoshop / Illustrator / Sketch / HTML / CSS / Ember.js</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Lead UI/UX Designer</h4>
            <p><a href="https://www.bluefishds.com">Blue Fish Design Studio</a> | Oct 2013 — Feb 2016</p>
            <p class="mb-half">Designed mobile-first websites and digital products for companies like Intel, NOAA/Sea Grant, and Athlon Media Group. Focused on user-centered design and front-end practices to deliver reliable and performant experiences to support regional and national brands on the web. Notable projects include: a skunkworks Android and Windows Desktop app for Intel used to analyze photo quality based on algorithmic calculations of static criteria. Editorial platform iteration based on qualitative data gathered by and for Athlon Media Group.</p>
            <p>Photoshop / Illustrator / Sketch / HTML / CSS / ExpressionEngine</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Web Designer</h4>
            <p><a href="https://www.thriveagency.com">Thrive Internet Marketing</a> | Jul 2013 — Sep 2013 </p>
            <p class="mb-half">Independent contractor brought in to refine the design processes of a relatively small marketing company. Helped modernize the visual and technical landscape of our client work, moving to a cleaner and more modern, mobile-first process. Launched ~ a dozen regional SEO optimized sites during my three-month tenure. </p>
            <p>Photoshop / Illustrator / Wordpress</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Graphic Designer</h4>
            <p><a href="https://www.lakepointe.org">Lake Pointe</a> | Sep 2012 — Jul 2013</p>
            <p class="mb-half">At Lake Pointe I designed visuals that reached over 10,000 people every weekend. I was involved in the ideation and design of print pieces (including mass mailers, Visual Identities, and wayfinding), digital pieces (TV screen graphics, web ads and more) and marketing plans.</p>
            <p>Photoshop / Illustrator / InDesign</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Web Designer</h4>
            <p>Metro Design Loft | Dec 2012 — May 2013</p>
            <p class="mb-half">I worked to grow business through the evaluation of best practices in client interaction, working contracts, and proposals. Designed interactive web experiences. Duties including but not limited to: User Experience planning, responsive HTML and CSS development and User Interface design.</p>
            <p>Sketch / Photoshop / Illustrator / HTML / CSS</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Jr. Front-End Designer</h4>
            <p><a href="https://www.midwesterninteractive.com">Midwestern Interactive</a> | Dec 2011 — Sep 2012</p>
            <p class="mb-half">Under the guidance of Matthew Spiel (Treehouse, Lyft), I helped design and develop websites for local and regional organizations ranging from small businesses to large regional organizations. I learned HTML and CSS on the job and was taught many sink or swim lessons on design and front-end development in a safe and open professional environment.</p>
            <p>Photoshop / Illustrator / HTML / CSS / ExpressionEngine</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Graphic Designer</h4>
            <p><a href="https://www.artfeeds.org">Art Feeds</a> | Jan 2009 — Dec 2011</p>
            <p class="mb-half">Under the guidance of Matthew Spiel (Treehouse, Lyft), I helped design and develop websites for local and regional organizations ranging from small businesses to large regional organizations. I learned HTML and CSS on the job and was taught many sink or swim lessons on design and front-end development in a safe and open professional environment.</p>
            <p>Photoshop / Illustrator / HTML / CSS / ExpressionEngine</p>
          </div>
        </section>

      </section>

    {% include PageNavigation.html %}

    {% include footer.html %}
