  {% include head.html %}

    {% include SiteHeaderCV.html %}

      <section class="SeeVee">
        <section class="SeeVee__profile mb-2">
          <h3>Profile</h3>
            <p class="mb-half">A first-generation white collar worker that escaped poverty through love for graphic design and the web. Continuously learning and working in design for the last ten years with a focus on product design for the last five. Passionate about people-focused products, research & data, collaboration and using Design to meet business goals.</p>
            <p class="mb-half">Currently, a Product Designer at Apartment Therapy Media, designing the future of reader experience on editorial platforms. Previously led product design at a successful appliance and digital media company called Mealthy Recipes and before that worked at a social fundraising startup called RaiseMore. Worked for a few small web design studios in the south and midwest before getting obsessed with digital products.</p>
            <p>My family is number one. Closely followed by Houston Rockets basketball and really good dad jokes… seriously good.</p>
        </section>

        <section class="SeeVee__accomplishments mb-2">
          <h3>Accomplishments</h3>
          <ul>
            <li class="mb-quarter">- Led the design chapter at an early stage startup in 2017. Leading the charge in Design and UX on web products.</li>
            <li class="mb-quarter">- Worked for the last three years creating award winning experiences that helped take our editorial products from top 20 (comscore) to two of the only non-rollup properties in the top 10 in the categories Home and Food.</li>
            <li class="mb-quarter">- Been a vocal advocate for user-centered design practices including facilitating Design Sprints, mixed qual/quant data collection practices and usability testing in engineering focused organizations.</li>
          </ul>
        </section>

        <section class="SeeVee__honors mb-2">
          <h3>Cool Things</h3>
          <ul>
            <li>
              <h4>IAB MIXX Gold Medal 2016</h4>
              <h5>Branded Utility</h5>
              <p>I led the UX and Design efforts In collaboration with McKinney & Sherwin - Williams on Color Search.</p>
            </li>
            <li>
              <h4>Guest Lecturer and Mentor</h4>
              <h5>Missouri Southern State University - Joplin, Missouri</h5>
              <h5>Ozark Christian College - Joplin, Missouri</h5>
              <p>I’ve been a guest lecturer and portolio reviewer on an ongoing basis. Speaking with Students about how design can be applied to any career as well as Design career options, trajectory and talking about their work.</p>
            </li>
          </ul>
        </section>

        <section class="SeeVee__experience">
          <h3>Experience</h3>

          <div class="SeeVee__experience-position">
            <h4>Product Designer</h4>
            <p class="mb-quarter"><a href="https://www.teamtreehouse.com">Treehouse Island inc.</a> | March 2019 - Present | Portland, OR - Remote</p>
            <p>Working collaboratively with PMs and Engineers to bring affordable education to the public. </p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Product Designer</h4>
            <p class="mb-quarter"><a href="https://www.apartmenttherapy.com">Apartment Therapy Media</a> | Feb 2016 - Present | New York, NY - Remote</p>
            <p>Working end-to-end on projects centered around revenue, retention and user experience at scale (30+m users/month) on two top 10 (ComScore) Home and Food products.<p>
            <ul>
              <li class="mb-quarter">- Design and UX lead on an award-winning branded utility in partnership with McKinney and Sherwin-Williams.</li>
              <li class="mb-quarter">- Led design on buyer and seller experience on recently acquired second-hand furniture marketplace.</li>
              <li>- Defined processes for A/B testing to drive growth including: +35% increase in story CTR & +5% increase in social sharing.</li>
            </ul>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Adjunct Instructor - Interaction Design</h4>
            <p class="mb-quarter"><a href="https://www.mssu.edu">Missouri Southern State University</a> | Jan 2019 - Present | Joplin, MO</p>
            <p>Teach Senior students the basics of User Experience and Interaction design. Lead discusions and technical drills on up-to-date design tools. Lecture on the history and practical aplication of UX principles. Lead students in classwork that puts principles to work creating artifacts like personas, workflows and journey maps (among others).</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Lead Product Designer</h4>
            <p class="mb-quarter"><a href="https://www.mealthy.com">Mealthy Recipes</a> | Feb 2017 - Sep 2017 | New York, NY - Remote</p>
            <p>Led product design for what would become a very successful kitchen technology company. Helped drive exponential growth over year one by launching social media communities, a website, mobile apps and 4 small appliances.<p>
            <ul>
              <li class="mb-quarter">- Recruited and led the early product/engineering team including the eventual CTO and full-time Designers and Engineers.</li>
              <li class="mb-quarter">- Design chapter lead - coaching team members, defining processes and guidelines.</li>
              <li>- Contributed UX and visual design on mobile and desktop features like saving recipes, user profiles, and recipe details.</li>
            </ul>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Product Designer</h4>
            <p class="mb-quarter"><a href="https://newsok.com/article/3904073/local-startup-raisemore-courts-investors-while-staying-committed-to-okc">RaiseMore</a> | Jul 2015 — Mar 2016 | Oklahoma City, OK - Remote</p>
            <p>UX focused product designer on social fundraising platform. Working with non-profit organizations to make fundraising more social through teams, coaching and shared goals.</p>
            <ul>
              <li class="mb-quarter">- Facilitated early iteration of Design Sprints, helped plan and execute 3-day usability summit with real-world users.</li>
              <li class="mb-quarter">- Worked on usability and visual design around dashboard views for admin users.</li>
              <li>- Led Design and prototyping on features like in-app coaching, mobile social sharing, and auditing user onboarding.</li>
            </ul>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Lead UI/UX Designer</h4>
            <p class="mb-quarter"><a href="https://www.bluefishds.com">Blue Fish Design Studio</a> | Oct 2013 — Feb 2016 | Mobile, AL - Remote</p>
            <p>First designer to work full-time with Marcus and the incredible team at Blue Fish. Servicing local, regional and national clients like Intel, NOAA and Athlon Media Group.</p>
            <ul>
              <li class="mb-quarter">- Designed dozens of mobile-first marketing, admin and ecommerce sites.</li>
              <li class="mb-quarter">- Worked with Intel to design desktop and mobile versions of a photo quality measurement app.</li>
              <li>- Collaborated with NOAA Sea Grant locations to modernize the web experiences.</li>
            </ul>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Designer</h4>
            <p class="mb-quarter"><a href="https://www.keaton-taylor.com">Self-Employed</a> | May 2013 — Oct 2013 | Rockwall, TX & Joplin, MO </p>
            <p>Contract web designer, art director and digital marketer for clients like Thrive Internet Marketing, Bourne Logistics and Art Feeds. Designing websites, ephemera, and social campaigns to support and grow modern businesses.</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Graphic Designer</h4>
            <p class="mb-quarter"><a href="https://www.lakepointe.org">Lake Pointe</a> | Sep 2012 — Jul 2013 | Rockwall, TX</p>
            <p>At Lake Pointe I designed visuals that reached over 10,000 people every weekend. I was involved in the ideation and design of print pieces (including mass mailers, Visual Identities, and wayfinding), digital pieces (TV screen graphics, web ads and more) and marketing plans.</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Web Designer</h4>
            <p class="mb-quarter">Metro Design Loft | Dec 2012 — May 2013 | Rockwall, TX</p>
            <p>I worked to grow business through the evaluation of best practices in client interaction, working contracts, and proposals. Designed interactive web experiences. Duties including but not limited to: User Experience planning, responsive HTML and CSS development and User Interface design.</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Jr. Front-End Designer</h4>
            <p class="mb-quarter"><a href="https://www.midwesterninteractive.com">Midwestern Interactive</a> | Dec 2011 — Sep 2012 | Joplin, MO</p>
            <p>I helped design and develop websites for local and regional organizations ranging from small businesses to large regional organizations. I learned HTML and CSS on the job and was taught many sink or swim lessons on design and front-end development in a safe and open professional environment.</p>
          </div>

          <div class="SeeVee__experience-position">
            <h4>Graphic Designer</h4>
            <p class="mb-quarter"><a href="https://www.artfeeds.org">Art Feeds</a> | Jan 2009 — Dec 2011 | Joplin, MO</p>
            <p>Worked with Founder CEO Meg Bourne to establish early visual branding and messaging guidelines. Designed the mark that has defined the brand for over a decade. Worked as a brand ambassador at events like Vans Warped Tour to evangelize the cause and work with artists and supporters to support it. Designed well-known heart hand logo.</p>
          </div>
        </section>

      </section>

    {% include PageNavigation.html %}

    {% include footer.html %}
