{% include head.html %}
  <body>
    {% include header.html %}
      <main class="PostEntry" aria-label="Content">
        <div class="PostWell">
          {% for post in site.categories.work %}
            <article class="PostTeaser">
              <h1 class="PostTeaser__title">
                <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
              </h1>
              {{ post.excerpt }}
            </article>
            <hr>
          {% endfor %}
        </div>
      </main>
{% include footer.html %}
