  {% include head.html %}

    {% include SiteHeader.html %}

    <section class="ContentArea">
      <section class="container__xlarge {{ page.class }}"></section>
      <section class="mb-2">

        <section class="ContentArea__main">
          <div class="container__xsmall">
            <h2 class="ContentHeadline">{{ page.title }}</h2>
            <section class="ContentArea__data">
              <div class="ContentArea__data-item">
                <h4>Completed</h4>
                <p>{{ page.year }}</p>
              </div>
              <div class="ContentArea__data-item">
                <h4>Role</h4>
                <p>{{ page.role }}</p>
              </div>
              <div class="ContentArea__data-item">
                <h4>Platform</h4>
                <p>{{ page.platform }}</p>
              </div>
            </section>
          </div>
          {{ page.content }}

          <div class="PageNavigation">
            {% unless page.category == null %}
              {% capture case_study %}{{ page.category }}{% endcapture %}
              {% unless site.categories[pageCategory].size == 1 %}
                <div class="RelatedPosts__wrap">
                <h4>More of My Work</h4>
                  {% for post in site.categories[case_study] limit:5 %}
                    {% unless post.title == page.title %}
                     <p><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></p>
                    {% endunless %}
                  {% endfor %}
                </div>
              {% endunless %}
            {% endunless %}
          </div>
        </section>
      </section>
    </section>

  {% include footer.html %}
