.AboutSection {

  p {
    font-size: 1rem;
  }

  img {
    border-radius: 2px;
  }

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content repeat(3, 195px) max-content max-content;
    padding: 1rem 0;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  @include breakpoint(large) {
    grid-template-rows: max-content repeat(3, 155px) max-content max-content;
  }

  @include breakpoint(xlarge) {
    grid-template-rows: max-content repeat(3, 193px) max-content max-content;
  }

  @include breakpoint(1366px) {
    grid-template-rows: max-content repeat(3, 211px) max-content max-content;
  }

  @include breakpoint(xxlarge) {
    grid-template-rows: max-content repeat(3, 220px) max-content max-content;
  }

  @include breakpoint(xxxlarge) {
    grid-template-rows: max-content repeat(3, 230px) max-content max-content;
  }


  &__title {
    font-size: 2rem;
    font-weight: 800;
    grid-column: 1 / span 1;

    span {
      color: $color--resume;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 1;

    }
  }

  &__family {
    margin-bottom: 1em;

    @include breakpoint(medium) {
      grid-column: 1 / span 6;
      grid-row: 2 / span 4;
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 4;
      grid-row: 2 / span 2;
    }
  }

  &__parents {
    @include breakpoint(medium) {
      box-shadow: $resting-box;
      grid-column: 3 / span 3;
      grid-row: 4 / span 2;
    }

    @include breakpoint(large) {
      grid-column: 5 / span 2;
      grid-row: 3 / span 2;
      margin: 3em -1em 0 0;
    }
  }

  &__hattie {
    @include breakpoint(medium) {
      box-shadow: $resting-box;
      grid-column: 5 / span 2;
      grid-row: 3 / span 2;
      margin: 0 -1em 0 0 ;
    }

    @include breakpoint(large) {
      grid-column: 6 / span 1;
      grid-row: 2 / span 1;
      margin: -17px 0px 0 -2em;
    }
  }

  &__emma {
    @include breakpoint(medium) {
      box-shadow: $resting-box;
      grid-column: 1 / span 2;
      grid-row: 3 / span 2;
      margin-top: 3em;
    }
    @include breakpoint(large) {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      margin: 0 0 0 -1.5em;
    }
  }

  &__summary-two {
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      grid-column: 1 / span 2;
      grid-row: 5 / span 1;
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 3;
      grid-row: 5 / span 1;
      margin-bottom: 0;
      align-self: end;
    }
  }

  &__summary-three {
    @include breakpoint(medium) {
      grid-column: 1 / span 6;
      grid-row: 6 / span 1;
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 5;
      grid-row: 6 / span 1;
    }
  }
}
