.Article {
  margin-bottom: 3em;

  @include breakpoint(large) {
    padding: 2em 10em;
    margin-bottom: 2em;
  }

  @include breakpoint(xxlarge) {
    padding: 0 1em 0 0;
    margin-bottom: 3em;
  }

  &__summary {
    font-family: $sans-stack;
  }
}
