body {
  font-family: $sans-stack;
  background: #fff;
  color: #1a5454;
  text-rendering: optimizeLegibility;
  border-top: 0.25rem solid #00c9ff;
  font-size: 18px !important;
}

.container {
  max-width: 1200px;
  padding: 1em 1em 0;

  @include breakpoint(1199px) {
    margin: 0 auto;
  }

  &__small {
    max-width: 960px;
    padding: 1em 0 0;

    @include breakpoint(959px) {
      margin: 0 auto;
    }
  }

  &__xsmall {
    max-width: 740px;
    padding: 1em 1em 0;

    @include breakpoint(739px) {
      margin: 0 auto;
    }
  }

  &__images {
    @include breakpoint(medium){
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &__image {
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
    }

    &--small {
      max-width: 400px;
      margin: auto;
    }

    img {
      box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

footer {
  @include gradient;

  padding: 1rem 0;
  font-weight: bolder;
  color: white;
  margin-top: 14vh;
}
