body {
  font-family: $sans-stack;
  background: #fff;
  color: #1a5454;
  text-rendering: optimizeLegibility;
  border-top: 4px solid $color--blue;
  font-size: 16px;
}

.container {
  max-width: 75em;
  padding: 1em 1em 0;
  margin: 0 auto;

  &__xsmall {
    max-width: 46.25em;
    margin: 0 auto;

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  &__small {
    max-width: 52em;
    padding: 1em 1em 0;
    margin: 0 auto;
  }

  &__large {
    max-width: 75em;
    padding: 0 1em;
    margin: 0 auto;

    @include breakpoint(medium) {
      padding: 0 1em;
    }
  }

  &__full {
    max-width: 100%;
    margin: 0 auto;
  }

  &__images {
    @include breakpoint(medium){
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &__image {
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
    }

    &--small {
      max-width: 25em;
      margin: auto;
    }
  }
}

footer {
  @include gradient;

  padding: 1em 0;
  font-weight: bolder;
  color: white;
}
