.ContentHeadline {
  font-family: $sans-stack;
  color: $color--darkest-gray;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  font-weight: 600;

  @include breakpoint(large) {
    font-size: 3.5em;
  }
}

.ContentArea {
  display: grid;

  .at,
  .rm,
  .m,
  .w,
  .d {
    height: 50vh;
    width: 100vw;
    max-width: 1440px;
    padding: 0;

    @include breakpoint(medium) {
      margin-top: 3.5em;
    }
  }

  &__main {
    color: $color--darker-gray;

    li {
      margin-bottom: 0.5em;

      & > ul {
        padding-top: 0.5em;
      }
    }

    p {
      font-family: $sans-stack;
      margin-top: 0;

      & + ul {
        margin-top: -0.5em;
        margin-bottom: 0;
        padding: 0 0 0 1.5em;
        font-family: $sans-stack;
      }
    }

    h3 {
      margin: 1em 0 0.25em;
      color: $color--darkest-gray;
    }

    h4 {
      margin: 1rem 0 0;
      font-weight: lighter;
    }

    figure {
      margin: 1em 0 1em 0;
    }

    img {
      margin: 0.5rem 0;
    }

    hr {
      margin: 4em 0 3em;
    }
  }

  &__data {
    display: grid;
    grid-template-columns: max-content 100px max-content;
    grid-gap: 1em;
    border-bottom: 3px solid $color--dark-gray;
    max-width: 100%;
    margin: 1em 0 1em;

    @include breakpoint(375px) {
      max-width: 65vw;
      grid-gap: 2em;
      padding-bottom: 1.5em
    }

    @include breakpoint(medium) {
      grid-template-columns: max-content 140px max-content;
    }

    @include breakpoint(large) {
      max-width: 40vw;
    }

    &-item {

      h4 {
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 0.25em;
        font-size: 0.8em
      }

      p {
        margin-top: 0.25em;
        font-size: 0.8em;
        font-weight: 400;
      }
    }
  }

  &__grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
  }
}
