.ContentComponent {
  display: flex;
  flex-direction: column;

  &__headline {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 2em;
  }

  &__articles {
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  a {
    text-decoration: none;
    @include breakpoint(large) {
      .ContentComponent__article-title {
        transition: $trans--long-in;
      }

      &:hover {
        .ContentComponent__article-title {
          transition: $trans--short-out;
          color: darken($color--blue, 10%);
        }
      }
    }
  }

  &__wrap {
    padding: 1em;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint(large) {
      padding: 2rem;
    }

    small {
      transition: $trans--long-in;
      letter-spacing: 1px;
      font-weight: 400;

      &:hover {
        transition: $trans--short-out;
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    background: lighten($color--green, 40%);
    margin: 0;

    img {
      height: 100%;

      @include breakpoint(medium) {
        max-width: 50%;
      }
    }

    @include breakpoint(medium) {
      margin-bottom: 0;
      flex-direction: row;

      &:hover {
        margin: 0;
      }
    }

    @include breakpoint(large) {
      img {
        filter: hue-rotate(0deg);
        transition: $trans--long-out;
      }

      &:hover {
        img {
          filter: hue-rotate(-45deg);
          transition: $trans--long-in;
        }
      }
    }

    &-title {
      margin: 0;
      padding: 0;
      font-weight: 800;
      font-size: 1.75rem;

      @include breakpoint(medium) {
        font-size: 1.25rem;
      }

      @include breakpoint(large) {
        font-size: 2rem;
      }

      @include breakpoint(xlarge) {
        font-size: 3rem;
      }
    }

    &-excerpt {
      font-size: 1rem;
      font-family: "leitura-news", "georgia", sans-serif;
      line-height: 1.4;
      color: lighten($color--text, 5%);
    }

    &:nth-last-child {
      margin-right: 0;
    }
  }
}
