.SiteFooter {
  background-color: #373737;
  color: white;
  justify-content: space-around;
  background-color: #363636;
  text-align: center;
    
  &__nav {
    display: flex;
    flex-direction: column;
    background-color: #363636;
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
    line-height: 1;
    max-width: 970px;
    
    @include breakpoint(medium) {
      flex-direction: row;
    }
    
    &-link {
      color: white;
      background-color: #373737;
    }
  }
}
