.SiteHeader  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 1em 0 1.25em;
  
  @include breakpoint(medium) {
    flex-flow: row;
  }
  
  &__name {
    font-family: "ff-enzo", sans-serif;
    font-weight: 300;
    line-height: 1;
  }
  
  &__nav {
    display: flex;
    margin: 0;
    padding: 0; 
    
    @include breakpoint(medium) {
      margin: 1 0;
    }
    
    li:nth-child(3) {
      margin-top: 3px;
    }
    
    &-link {
      flex-direction: row;
      justify-content: space-around;

    }
    
    &-img {
      width: 2em;
      padding: 0 1em;
      
      @include breakpoint(medium) {
        padding-right: 0;
      }
    }
  }
}
