.Header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 2em;
  background: url(/assets/images/nyc-skyline.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 302px;
  margin-bottom: 1em;
  z-index: -1;

  &:after {
    background: white;
    bottom: -17%;
    content: '';
    height: 70px;
    position: relative;
    transform-origin: left bottom;
    transform: skewY(1deg);
    width: 100%;
    z-index: 1;
    
    @include breakpoint(medium) {
      position: absolute;
      top: 16.5em;
    }
  }
  
  &__text {
    position: relative;
    top: 1em;
    color: white;
    
    p {
      font-size: 1.25em;
      margin: 0;
      line-height: 1.4;
      
      @include breakpoint(medium) {
        font-size: 2em;
      }
    }
    
    h1 {
      font-size: 1.75em;
      margin: .75em 0;
      
      @include breakpoint(medium) {
        font-size: 2em;
      }
    }
  }
  
  &__img {
    display: none;
    z-index: 2;
    
    @include breakpoint(medium) {
      display: initial;
      padding: 0;
      margin-right: 0!important;
      
      img {
        width: 67%;
        margin: 0!important;
        padding: 0!important;
        display: block;
      }
    }
  }
}
