$color--light-link: lighten(#00c9ff, 10%);
$color--light-gray: lighten(lightgray, 12%);
$color--dark-gray: darken(lightgray, 30%);
$color--text: #1a5454;

$color--blue: #00c9ff;
$color--green: #00ff98;

$color--github: #4078c0;
$color--twitter: #1da1f2;
$color--linkedin: #0077b5;
$color--dribbble: #ea4c89;
$color--medium: #00ab6c;

$trans--long-in: all 500ms ease-in;
$trans--long-out: all 500ms ease-in-out;
$trans--short-in: all 200ms ease-in;
$trans--short-out: all 200ms ease-in-out;

.no-shadow {
  box-shadow: none !important;
}

.lg {
  background: $color--light-gray;
}

.gradient {
  @include gradient;
}

.medium {
  fill: $color--medium;
}

.twitter {
  fill: $color--twitter;
}

.dribbble {
  fill: $color--dribbble;
}

.linkedin {
  fill: $color--linkedin;
}

.github {
  fill: $color--github;
}

.bg-none {
  background: none !important;
}

.border--gray {
  border: 1px solid $color--light-gray;
}

.lighter {
  font-weight: lighter;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.lightgray {
  background-color: $color--light-gray;
}

.heavier {
  font-weight: bolder;
}

.m-width {
  max-width: 1400px;
}

.m-auto {
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-half {
  margin-bottom: 0.5rem !important;
}

.mt-half {
  margin-top: 0.5rem !important;
}

.mt-quarter {
  margin-top: 0.25rem !important !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.p-2 {
  padding: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}


.p-0-m {
  @include breakpoint(xsmall) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.container__break {
  @include breakpoint(medium) {
    margin: 0 -6em 0 0 !important;
  }

  @include breakpoint(xlarge) {
    margin: 0 -6em !important;
  }
}

.no-bull {
  list-style: none;
}

.icon {
  height: 40px;
  width: 40px;
}

.round {
  border-radius: 100%;
  border: 6px solid lightblue;
}

.hide-small {
  display: none;

  @include breakpoint(medium) {
    display: flex;
  }
}

.hide-large {
  display: flex;

  @include breakpoint(medium) {
    display: none;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.row {
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row !important;
  }
}

.i {
  font-style: italic;
}

.border {
  border: 2px solid $color--green;
  border-radius: 100%;
}
