$light-link: lighten(#69d1d1, 10%);

.lighter {
  font-weight: lighter;
}

.heavier {
  font-weight: bolder;
}

.m-width {
  max-width: 1400px;
}

.m-auto {
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-2 {
  padding-left: 2rem;
}

.m-0 {
  margin: 0 !important;
}

.no-bull {
  list-style: none;
}

.icon {
  height: 24px;
  width: 24px;
}

.round {
  border-radius: 100%;
  border: 6px solid lightblue;
}

.hide-small {
  display: none;

  @include breakpoint(medium) {
    display: flex;
  }
}

.hide-large {
  display: flex;

  @include breakpoint(medium) {
    display: none;
  }
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row !important;
  }
}
