// .p-r-0 {
//   padding-right: 0 !important;
// }
.content {
  max-width: 1024px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0 1em;
}

.one {
  @include breakpoint(large) {
    flex-basis: 100%;
  }
}

.two {
  @include breakpoint(large) {
    flex-basis: 50%;
  }
}

.three {
  @include breakpoint(large) {
    flex-basis: 33%;
  }
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.round {
  border-radius: 100%;
  border: 6px solid lightblue;
}

.m-t-1 {
  margin-top: 1em;
}

.w-half {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;

  @include breakpoint(medium) {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
