.PageNavigation {
  text-align: left;
  margin: 4rem 0 -2rem;
  padding: 1rem 1rem 2rem;
  background-color: lighten($color--resume, 59%);

  p {
    margin-bottom: 1em;

    a {
      text-decoration: underline;
    }
  }
}
