.PersonalSummary {
  align-items: center;
  display: grid;
  font-family: $sans-stack;
  grid-template-columns: 75%;
  height: auto;

  h2 {
    color: $color--darker-gray;

    @include breakpoint(large) {
      max-width: 75%;
    }

    @include breakpoint(xlarge) {
      max-width: 65%;
    }
  }
}

.fade-in {
  animation: fadeIn ease-in 1;
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
