.PersonalSummary {

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: $serif-stack;
    line-height: 1.4;

    @include breakpoint(medium) {
      font-size: 1.5rem;
    }

    @include breakpoint(large) {
      font-size: 2rem;
      height: 81vh;
    }

    @include breakpoint(large) {
      height: 80vh;
    }

    @include breakpoint(xxlarge) {
      font-size: 2rem;
      max-width: 32em;
      height: 82vh;
    }

    @media (min-height: 1079px) {
      height: 65vh;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.6;
      font-weight: lighter;

      @include breakpoint(large) {
        font-size: 1.75rem;
        margin-left: 13rem;
      }

      @include breakpoint(xlarge) {
        margin-left: 21rem;
        font-size: 2rem;
      }
    }
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.75s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
