.SiteHeader {
  display: flex;
  flex-direction: column;

  &__image {
    display: flex;
    justify-content: center;

    img {
      align-self: center;
      width: 50%;
    }
  }

  &__nav {
    text-align: center;
    padding-left: 0;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-item {
      padding-bottom: 1em;
      font-weight: bold;

      @include breakpoint(medium) {
        padding: 0;
      }
    }
  }
}
