.PostPage {
  margin: auto;
  height: 100%;
  line-height: 1.4;

  p {
    font-family: $sans-stack;
    line-height: 1.4;
  }

  .ContentHeadline {
    @include breakpoint(large) {
      font-size: 4rem;
    }
  }

  .ContentArea {
    grid-template-columns: 1fr;
  }
}
