.PostTeasers {
  z-index: 2;
  
  &__blog {
    margin-bottom: 2em;

    @include breakpoint(xxlarge) {
      flex-direction: column;
      padding-left: 2em;
      min-width: 300px;
    }
  }
  
  &__work {
    margin-bottom: 2em;

    @include breakpoint(xxlarge) {
      flex-direction: column;
    }
  }
  
  &__title {
    font-weight: 200;
    font-size: 1.25em;
    line-height: 1.2;
  }
  
  &__more {
    font-size: 0.75em;
    font-family: $serif-stack;
    font-style: italic;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.PostTeaser {
  margin-bottom: 1em;

  &__title {
    font-family: $serif-stack;
  }
  
  &__date {
    font-size: .75em;
  }
  
  &__image {
    margin-bottom: 1em;
  }
}
