.PostPage {
  margin: auto;
  height: 100%;

  &__illo {
    max-width: 640px;
    margin: 0 auto;
    opacity: 0.8;

    @include breakpoint(medium) {
      margin-top: 2em;
    }
  }

  p {
    font-family: $sans-stack;
  }

  .ContentHeadline {
    @include breakpoint(large) {
      font-size: 4em;
    }
  }

  .ContentArea {
    grid-template-columns: 1fr;
  }
}
