.PostEntry {
  max-width: 840px!important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  &--large {
    max-width: 920px;
    padding: 0 1em;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
  }
  
  &__title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
  }
    
  p {
    margin-bottom: 1em!important;
  }
  
  &__img {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 1em;

    @include breakpoint(large) {
      justify-content: space-between;
      flex-direction: row;
      overflow: scroll;
    }
  }
  
  figure {
    flex-direction: column;
  }
}
