.PostTeasers {
  z-index: 2;
  
  &__articles {
    margin-bottom: 2em;

    @include breakpoint(xxlarge) {
      flex-direction: column;
      padding-left: 2em;
      min-width: 250px;
    }
  }
  
  &__work {
    margin-bottom: 2em;

    @include breakpoint(xxlarge) {
      flex-direction: column;
    }
  }
  
  &__title {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.2;
  }
}

.PostTeaser {
  &__info {
    margin: 1em 0;
  }
  
  &__headline {
    font-family: $serif-stack;
  }
  
  &__date {
    font-size: .75em;
  }
  
  &__image {
    margin-bottom: 1em;
  }
}
