.SiteHeaderHome {
  display: grid;
  height: 75vh;
  align-content: center;

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content 1fr;
  }

  &__summary {
    text-align: left;

    @include breakpoint(medium) {
      grid-column: 1 / span 6;
      grid-row: 2 / span 1;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 5;
      grid-row: 2 / span 1;
    }

    @include breakpoint(xlarge) {
      grid-column: 2 / span 3;
      grid-row: 2 / span 1;
    }

    h1 {
      font-size: 2rem;
      line-height: 1.6;
      font-weight: 700;
      color: $color--darkest-gray;


      @include breakpoint(large) {
        grid-column: 1 / span 5;
        margin-bottom: 8px;
      }

      a {
        font-weight: 700;
        color: $color--darkest-gray;
        text-decoration: underline;

        &:hover {
          color: lighten($color--darkest-gray, 10%);
          text-decoration: none;
        }
      }
    }

    p {
      font-weight: 300;
      font-family: $sans-stack;
      color: $color--darkest-gray;
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 1.25rem;

      a {
        color: $color--darkest-gray;
        text-decoration: underline;

        &:hover {
          color: lighten($color--darkest-gray, 10%);
          text-decoration: none;
        }
      }

      @include breakpoint(large) {
        grid-column: 1 / span 5;
      }
    }
  }

  &__nav {
    @include breakpoint(medium) {
      grid-column: 1 / span 5;
      grid-row: 3 / span 1;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 4;
      grid-row: 3 / span 1;
    }
  }

  &__nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.75em;
    list-style: none;
    padding-left: 0;
    align-items: center;
    margin-bottom: 2em;

    @include breakpoint(medium) {
      grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
      grid-gap: 1em;
    }
    @include breakpoint(large) {
      grid-gap: 2em;
    }
  }

  &__nav-item.icon {

    &.img {
      filter: grayscale(100%);
    }

    @include breakpoint(large) {
      &.resume svg:hover {
        fill: $color--resume !important;
      }

      &.twitter svg:hover {
        fill: $color--twitter !important;
      }

      &.github svg:hover {
        fill: $color--github !important;
      }

      &.dribbble svg:hover {
        fill: $color--dribbble !important;
      }

      &.medium svg:hover {
        fill: $color--medium !important;
      }

      &.linkedin svg:hover {
        fill: $color--linkedin !important;
      }

      &.img:hover {
        filter: grayscale(0%);
      }
    }
  }
}
