.SiteHeader {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0.5rem;
    margin-top: 0;

    @include breakpoint(medium) {
      margin-bottom: 1rem;
    }

    a {
      font-size: 1.75rem;
      text-decoration: none;
      font-weight: bolder;
    }
  }

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    padding: 0;
    margin-top: 2rem;

    @include breakpoint(medium) {
      margin-top: 1rem;
    }

    &-item {
      padding: 0 1rem;
      max-width: 32px;
      max-height: 32px;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }


  &__nav-item.icon {
    transition: all 500ms ease-in-out;

    &.twitter:active {
      fill: darken($color--twitter, 20%);
    }

    &.github:active {
      fill: darken($color--github, 20%);
    }

    &.dribbble:active {
      fill: darken($color--dribbble, 20%);
    }

    &.medium:active {
      fill: darken($color--medium, 20%);
    }

    &.img:active {
      filter: grayscale(100%);
    }

    @include breakpoint(large) {
      &.twitter:hover {
        transition: all 200ms ease-in;
        fill: lighten($color--twitter, 20%);
      }

      &.github:hover {
        transition: all 200ms ease-in;
        fill: lighten($color--github, 20%);
      }

      &.dribbble:hover {
        transition: all 200ms ease-in;
        fill: lighten($color--dribbble, 20%);
      }

      &.medium:hover {
        transition: all 200ms ease-in;
        fill: lighten($color--medium, 20%);
      }

      &.linkedin:hover {
        transition: all 200ms ease-in;
        fill: lighten($color--linkedin, 20%);
      }

      &.img:hover {
        transition: all 200ms ease-in;
        filter: grayscale(100%);
      }
    }
  }
}
