.SiteHeaderCV {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-right: 0;
  margin-right: 0;
  overflow: hidden;
  height: max-content;
  align-items: center;

  @include breakpoint(medium) {
    margin: 10rem 0;
    grid-template-columns: 1fr max-content;
  }

  a {
    text-decoration: none;
  }

  &__nav {
    display: grid;
    padding-bottom: 0.75em;
    max-width: 100%;

    @include breakpoint(large) {
      justify-items: end;
      width: max-content;
    }
  }

  &__nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.75em;
    list-style: none;
    padding-left: 0;
    justify-items: center;
    align-items: center;
    margin-bottom: 2em;

    @include breakpoint(medium) {
      grid-gap: 2em;
      margin-bottom: 0;
      justify-items: end;
      width: max-content
    }
  }

  &__name {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 60%;

    h1 {
      font-size: 24px;
      font-weight: 600;
    }

    span {
      color: $color--resume;
      font-weight: 800;
    }

    @include breakpoint(medium) {
      justify-content: left;
      text-align: left;
      width: 100%;
    }

    p {
      font-weight: 600;
      font-family: $sans-stack;
      margin-top: 0;
      margin-bottom: 0;
      color: $color--light-gray;
      letter-spacing: 1px;
    }
  }

  &__summary {
    display: grid;
    align-items: center;
    font-family: $sans-stack;
    height: auto;
    font-weight: 300;

    h2 {
      color: $color--darker-gray;
      font-size: 1.563em;

      @include breakpoint(medium) {
        font-size: 1.953em;
      }

      @include breakpoint(large) {
        font-size: 2.253em;
        margin-bottom: 0;
      }
    }
  }

  &__image {
    display: none;

    @include breakpoint(medium) {
      display: initial;
    }
  }

  &__nav-item.icon {

    &.img {
      filter: grayscale(100%);
    }

    @include breakpoint(large) {
      &.resume svg:hover {
        fill: lighten($color--resume, 5%) !important;
      }

      &.twitter svg:hover {
        fill: lighten($color--twitter, 5%) !important;
      }

      &.github svg:hover {
        fill: lighten($color--github, 5%) !important;
      }

      &.dribbble svg:hover {
        fill: lighten($color--dribbble, 5%) !important;
      }

      &.medium svg:hover {
        fill: lighten($color--medium, 5%) !important;
      }

      &.linkedin svg:hover {
        fill: lighten($color--linkedin, 5%) !important;
      }

      &.img:hover {
        filter: grayscale(0%);
      }
    }
  }
}
