.TeaserComponent {
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: 2em;
  }

  @include breakpoint(large) {
    text-align: left;
  }

  a {
    text-decoration: none;
    @include breakpoint(large) {
      .ContentComponent__article-title {
        transition: $trans--long-in;
      }

      &:hover {
        .ContentComponent__article-title {
          transition: $trans--short-out;
          color: darken($color--blue, 10%);
        }
      }
    }
  }
}
