.TeaserList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-rows: auto;
  }
}


.Teaser {
  display: grid;
  box-shadow: $resting-box;
  list-style: none;

  @include breakpoint(medium) {
    grid-template-rows: 2fr 1fr;
  }

  @include breakpoint(large) {
    grid-template-rows: auto;
    grid-gap: 0;
    transition: $trans--long-out;
    border-radius: 3px;
    box-shadow: $resting-box;
    margin-bottom: 2rem;

    &:hover {
      filter: hue-rotate(-22.5deg);
      transform: scale(1.01);
      transition: $trans--short-in;
      box-shadow: $active-box;
    }
  }

  &__image {
    min-height: 100%;
    min-width: 100%;
  }

  &__content {
    background: rgba(255, 255, 255, 1);
    align-self: center;
    text-align: center;
    padding: 1.5em 1em;

    @include breakpoint(medium) {
      padding: 2em 1em;
    }

    @include breakpoint(large) {
      display: none;

      &:hover {
        display: grid;
        transition: $trans--short-in;

      }
    }
  }

  &__kicker {
    font-weight: 400;
  }

  &__title {
    font-family: $sans-stack;
    margin: 0 0 0.25em;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: $color--darker-gray;
  }

  &__summary {
    display: none;
    transition: 0s;
    font-family: $sans-stack;
    color: $color--dark-gray;

    @include breakpoint(large) {
      font-weight: 400;
      display: block;
      transition: all 0ms ease-in-out;
      filter: none;
    }
  }

  a {
    text-decoration: none;

    @include breakpoint(medium) {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;

        .Teaser__content {
          text-align: center;
        }
      }

      &:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;

        .Teaser__content {
          text-align: center;
        }
      }
    }

    @include breakpoint(large) {
      .ContentComponent__article-title {
        transition: $trans--long-in;
      }

      &:hover {
        .ContentComponent__article-title {
          transition: $trans--short-out;
          color: darken($color--blue, 10%);
        }
      }
    }
  }
}
