.Teaser {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  min-height: 200px;

  @include breakpoint(medium) {
    text-align: left;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5em;
    margin-bottom: 12em;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 200px;
    transition: $trans--short-out;
    border-radius: 3px;
    box-shadow: $resting-box;

    @include breakpoint(medium) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      height: 100%;
      box-shadow: none;
      border-radius: 0;
    }

    @include breakpoint(large) {
      &:hover {
        filter: hue-rotate(-22.5deg);
        transform: scale(1.01);
        transition: $trans--short-out;
        box-shadow: $active-box;

        .Teaser__content {
          display: grid;
          transition: $trans--long-in;
        }
      }
    }
  }

  &__content {
    display: grid;
    align-self: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    transition: $trans--short-out;

    @include breakpoint(medium) {
      min-height: 132px;
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  &__kicker {
    font-weight: 500;
    text-align: center;
    align-self: end;
    font-size: 14px;
  }

  &__title {
    font-family: $sans-stack;
    margin: 0 0 0.25em;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: $color--darkest-gray;
    text-align: center;
    font-size: 1.25em;

    @include breakpoint(medium) {
      padding: 0 1em;
    }

    @include breakpoint(large) {
      font-size: 1.5em;
    }
  }

  &__summary {
    display: none;
    transition: 0s;
    font-family: $sans-stack;
    color: $color--dark-gray;

    @include breakpoint(large) {
      font-weight: 400;
      display: block;
      transition: all 0ms ease-in-out;
      filter: none;
    }
  }

  a {
    text-decoration: none;

    @include breakpoint(medium) {
      &:nth-child(1) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
      }

      &:nth-child(2) {
        grid-column: 4 / span 2;
        grid-row: 1 / span 1;
      }

      &:nth-child(3) {
        grid-column: 4 / span 2;
        grid-row: 2 / span 1;
      }
      &:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
      }

      &:nth-child(6) {
        grid-column: 3 / span 3;
        grid-row: 3 / span 1;
      }

      &:nth-child(5) {
        grid-column: 3 / span 3;
        grid-row: 4 / span 1;
      }
    }

    @include breakpoint(large) {
      .ContentComponent__article-title {
        transition: $trans--long-in;
      }

      &:hover {
        .ContentComponent__article-title {
          transition: $trans--short-out;
          color: darken($color--blue, 10%);
        }
      }
    }
  }
}
