$sans-stack: "ff-dagny-web-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

a {
  font-weight: 400;
  color: darken(#69d1d1, 40%);

  &:hover {

    @include breakpoint(large) {
      text-decoration: none;
      color: darken($color--blue, 10%);
    }
  }

  &:visited,
  &:link {
    fill: inherit;
  }
}

p,
ul {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

h2 {
  font-size: 1.75em;
  @include breakpoint(518px) {
    font-size: 2.5em;
  }

  @include breakpoint(medium) {
    font-size: 3em;
  }

  @include breakpoint(large) {
    font-size: 3.75em;
  }
}


figcaption {
  margin-top: 0.5em;
  font-style: italic;
  font-family: $sans-stack;
  color: #7f8c8d;
  font-size: 14px;
  line-height: 1.5;
}

hr {
  width: 100%;
  color: $color--light-gray;
}

small {
  font-size: 1em;
  font-family: $sans-stack;
}

blockquote {
  border-left: 4px solid $color--green;
  font-family: $sans-stack;
  font-size: 1.5em;
  font-style: italic;
  margin: 1em auto;
  padding-left: 1.25em;

  @include breakpoint(large) {
    margin-right: 1.5em;
  }
}
