$serif-stack: "sofia-pro",sans-serif;
$sans-stack: "sofia-pro",sans-serif;

a {
  text-decoration: none;
  color: #363636;
  line-height: 1.2;
}

h1, h2, li, p {
  font-family: $sans-stack;
  color: #363636;
}

figure {
  margin: 0 0 1rem;
  padding: .25rem;
}

figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  font-family: $serif-stack;
  color: #7f8c8d;
  font-size: 14px;
  line-height: 1.3;
}
