$sans-stack: "franklin-gothic-urw", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$serif-stack: "leitura-news", "georgia", serif;
$condensed-stack: "franklin-gothic-urw-cond", sans-serif;

a {
  font-weight: 400;
  color: darken(#69d1d1, 40%);

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

figure {
  margin: 0 0 1rem;
  padding: 0.25rem;
}

figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  font-family: $serif-stack;
  color: #7f8c8d;
  font-size: 14px;
  line-height: 1.3;
}
