.ValuesSection {
  grid-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 25em;
  padding: 2rem 0;

  @include breakpoint(medium) {
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content 1fr;
    margin-bottom: 0;
    text-align: left;
  }

   @include breakpoint(large) {
    grid-gap: 1.5rem;
  }


  &__title {
    font-size: 2rem;
    font-weight: 800;

    span {
      color: $color--resume;
    }

    @include breakpoint(medium) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin: 0;
    }

    @include breakpoint(large) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
  }

  &__values {
    display: grid;

    @include breakpoint(medium) {
      display: grid;
      grid-column: 1 / span 6;
      grid-row: 2 / span 3;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
    }

    @include breakpoint(large) {
      grid-gap: 1.5rem;
      display: grid;
      grid-column: 2 / span 5;
      grid-row: 2 / span 3;
    }

    @include breakpoint(xlarge) {
      grid-column: 2 / span 5;
      grid-row: 2 / span 3;
    }

    &-item {
      background-color: white;
      margin-bottom: 1.5rem;
      // border: 1px solid lighten($color--resume, 50%);
      border-radius: 4px;
      padding: 1rem;
      position: relative;
      box-shadow: $resting-box;

      &:hover {
        box-shadow: $active-box;
        transform: scale(1.01);
        margin-bottom: 1.5rem;
        transition: $trans--short-out;
      }

      .bar {
        position: absolute;
        width: 4px;
        left: 12px;
        top: 8px;
        bottom: 8px;
        background: $color--resume;
        border-radius: 8px;
      }

      h4 {
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
        font-weight: 800;
        padding-left: 0.75rem;
      }


      p {
        font-weight: 600;
        margin: 0 !important;
        color: #918F8F;
        padding-left: 0.75rem;

        &.m-0 {
          font-weight: 400;
        }
      }
    }

    &-content {
      transition: $trans--short-in;
      min-height: max-content;
    }
  }
}
