.RaiseMore {
  margin: auto;
  height: 100%;
  line-height: 1.4;


    small {
      background-color: #FFFFE0;
      font-family: $condensed-stack;
    }

  .content {
    padding: 0 1rem;

    ul {
      margin-top: 0;
    }
  }

  h2 {
    margin: 0;
    text-align: center;
    font-family: $condensed-stack;
    font-weight: bold;
  }

  .ContentComponent {
    background: none;
    padding: 0;
    margin: auto;

    .menu {
      display: none;

      @include breakpoint(medium) {
        display: flex;
      }
    }

    &__teaser-list {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      justify-content: space-between;
      text-align: center;

      @include breakpoint(medium) {
        flex-direction: row;
      }

      li {
        padding: 0 2rem;
        margin-bottom: 1rem;

        h3 {
          font-size: 1.25rem;
          margin-bottom: 0;
          color: darken(#69d1d1 , 40%);
          font-family: $condensed-stack;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
          }
        }
      }
    }

    button {
      display: flex;
      font-size: 12px;
      padding: 0.5rem 1rem;
      margin: 1rem auto;
      border: 1px solid black;
      border-radius: 2px;
      background: none;

      @include breakpoint(medium) {
        display: none;
      }

      &:active {
        background-color: #90dddd;
        border: 1px solid #90dddd;
        color: white;
      }
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}
